.form_time input {
    width: 520px;
    margin: 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(221, 221, 221);
    font-size: 30px;
    padding: 40px;
}

.form_time button {
    width: 600px;
    height: 100px;
    margin: 15px;
    border-radius: 10px;
    font-size: 30px;
    background-color: black;
    color: white;
}

.animated-button {
    background-color: #007bff; 
    font-size: 16px; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  
  .animated-button.active {
    transform: scale(1.1); 
    background-color: #0056b3; 
  }


@media (max-width: 768px) {
    .form_time input  {
      width: 100px;
    }
    .form_time button  {
        width: 100%;
      }

  }